<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvR6P5JX6F5g5Jh9J7bZd0v6ko3I2ycJ3XI2mL0n2U5bJ9v3" crossorigin="anonymous" >
    <!--Custom CSS-->
    {% block customCSS %}
    {% endblock %} 
</head>
<body class="text-center">

    {% block body %}
    {% endblock %} 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-1BmE4kWBq78iYhFldvR6P5JX6F5g5Jh9J7bZd0v6ko3I2ycJ3XI2mL0n2U5bJ9v3"
    crossorigin="anonymous"></script>
    
</body>
</html>