<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/galeria.css" />
    <title>Galeria</title>
  </head>
  <body>
    <div class="container">
      <h1>Galeria De Imagenes</h1>

      <div class="image-container">
        <div class="image"><img src="/static/images/galeria/f1.jpeg" alt="" /></div>
        <div class="image"><img src="/static/images/galeria/f2.jpeg" alt="" /></div>
        <div class="image"><img src="/static/images/galeria/f3.jpeg" alt="" /></div>
        <div class="image"><img src="/static/images/galeria/f4.jpeg" alt="" /></div>
        <div class="image"><img src="/static/images/galeria/f5.jpeg" alt="" /></div>
        <div class="image"><img src="/static/images/galeria/f6.jpeg" alt="" /></div>
      </div>
    </div>
  </body>
</html>
