<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>soccer club</title>
    <link rel="shortcut icon" href="/static/css/favicon.ico">
    <link rel=stylesheet href="/static/css/style.css">
    <link rel=stylesheet href="/static/css/vendor.css">
    <link rel=stylesheet type=text/css href="/static/css/layerslider.css">
    <script src=/static/js/vendor/modernizr.js></script>
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>
    <header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="{{ url_for('login') }}">Registrar/logear</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row>
                    <h1 class=logo><a href=index-2.html><img src=" /static/images/logo.png" alt="Logo"></a></h1>
                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href=index-2.html class=active>Inicio <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a href="{{ url_for('noticias')}}">Noticias<span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href="{{ url_for('galeria')}}">Galeria<span></span> <span></span> <span></span> <span></span></a>
                            
                                        </li>
                                        <li><a href="{{ url_for('listar_equipos')}}">Equipos<span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>Posiciones<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="{{ url_for('tabla_posiciones')}}">Primera División</a></li>
                                                <li><a href="{{ url_for('tabla_posiciones_segunda') }}">Segunda División</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="{{ url_for('estadisticas_jugadores') }}">Estadisticas <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href="{{ url_for('resultados_partidos')}}">Partidos <span></span> <span></span> <span></span> <span></span></a>
                                        </li>
                                        <li><a href="{{ url_for('mostrar_jugadores')}}">Asistencia <span></span> <span></span> <span></span> <span></span></a>
                                        </li>
                                        <li><a href="{{ url_for('mostrar_jugadores')}}">Traspasos <span></span> <span></span> <span></span> <span></span></a>
                                        </li>
                                        <li><a href="{{ url_for('mostrar_jugadores')}}">Documentos <span></span> <span></span> <span></span> <span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social>
                        <a href=https://www.facebook.com/templatespoint.net class=facebook><i
                            class="fa fa-facebook"></i></a>
                        <a href=https://twitter.com/itobuztech class=twitter><i
                            class="fa fa-twitter"></i></a>
                        <a href=https://www.behance.net/ class=behance><i
                            class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class=banner id=layerSlider style="width: 100%;">
        <div class=ls-slide data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;">
            <img src="/static/images/banner/background01.jpg" class=ls-bg alt="Slide background">
            <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;"
                 data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;">
                <img src="/static/images/banner/player.png" alt=innerimage class=img-responsive
                    style="max-width: 100% !important ;">
            </div>
            <img src="/static/images/banner/ball.png" alt=innerimage class="ls-l layercontent02" style=z-index:5;
                 data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
            <img src="{{ url_for('static', filename='images/banner/front_particles.png') }}"alt=particles class=ls-l style="z-index:3; left:0;"
                 data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
            <img src="{{ url_for('static', filename='images/banner/back_particles.png') }}"alt=particles class=ls-l style="z-index:3; left:50%;"
                 data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">
            <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
                Club</h2>

            <h2 class="ls-l bannertext01 italic01 layercontent04"
                data-ls="offsetxin:left; scalexin:9; durationin: 4000;">Asociacion</h2><h4
                    class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">
                De</h4>

            <h2 class="ls-l bannertext01 layercontent06" style="left: 87%; top:760px;"
                data-ls="offsetxin:left; flipxin:90 ; durationin: 5000;">Futbol<sup>#1</sup></h2><h6
                    class="ls-l bannertext03 layercontent07" data-ls="offsetxin:left; flipxin:90 ; durationin: 6000;">
                Feb , 2024</h6></div>
    </div>
    <div class=banner-text>
        <div class=container>
            <div class=row>Club Asociacion De<sup>Futbol</sup> Feb , 2024.</div>
        </div>
    </div>
    <section class=about>
        <div class=container>
            <div class=row><h2 class=heading>Acerca <span>De</span></h2>

                <div class=about-wrap>
                    <div class="tab-content nav-content"><p role=tabpanel class="tab-pane fade" id=matches>Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit. Enim amet cumque quo at eius nulla, voluptates
                        assumenda saepe, consequatur fuga sapiente. Quas optio adipisci dolor possimus quos, maiores
                        aliquid placeat! nemo ab praesentium voluptatum, exercitationem ad quo tempore quam temporibus
                        voluptates odio, qui laborum pariatur perferendis! Sapiente, itaque facilis deleniti unde?Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p role=tabpanel class="tab-pane active fade in" id=static>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Enim amet cumque quo at eius nulla, voluptates asaliquid
                            placeat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. nemo ab praesentium
                            voluptatum, exercitationem ad quo tempore quam temporibus voluptates odio, qui laborum
                            pariatur perferendis! Sapiente, itaque facilis deleniti unde?Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.</p>

                        <p role=tabpanel class="tab-pane fade" id=traning>Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. s quos, maiores aliquid placeat! Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Esse nemo ab praesentium voluptatum, exercitationem ad quo tempore quam
                            temporibus voluptates odio, qui laborum pariatur perferendis! Sapiente, itaque facilis
                            deleniti unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur expedita
                            recusandae ullam autem ducimus consectetur sed iure sequi ratione architecto optio
                            consequuntur atque dolor dolores asperiores illum, quam hic ab?</p></div>
                    <div class=nav-header id=aboutTab>
                        <ul class="nav nav-tabs clearfix" role=tablist>
                            <li><a href=#matches aria-controls=matches role=tab data-toggle=tab>Partidos</a></li>
                            <li class=active><a href=#static aria-controls=static role=tab data-toggle=tab>Estadisticas</a>
                            </li>
                            <li><a href=#traning aria-controls=traning role=tab data-toggle=tab>Entranamiento</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class=footer-type01>
        <div class=container>
            <div class=row>
                <ul class=footer-widget>
                    <li class=widget-about><h4 class=footerheading>about <span>soccer club</span></h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae, velit perferendis
                            dolor atque magni, porro minus repellendus nostrum alias ea deserunt. Vel quam explicabo
                            laudantium accusamus est, nulla minima!</p>

                        <p><span class=uppercaseheading>address:</span><span class=red>239</span> main street
                            London,England.</p>

                        <p><span class=uppercaseheading>call:</span> <span class=red>1800-2222-3333</span></p></li>
                    <li class=widget-news><h4 class=footerheading>recent <span>news</span></h4>
                        <ul class="widget-newsdetails clearfix">
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background: /static/images/widget/widget01.jpg" center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:/static/images/widget/widget02.jpg" center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background: /static/images/widget/widget03.jpg" center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class=footer-type02>
            <div class=container>
                <div class=row><a href=index-2.html class=footer-logo><img src="/static/images/logo.png" alt=image></a>

                    <div class=footer-container>
                        <ul class=clearfix>
                            <li><a href=https://www.facebook.com/templatespoint.net class=bigsocial-link><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href=https://twitter.com/ class=bigsocial-link target=_blank><i
                                    class="fa fa-twitter"></i></a></li>
                            <li><a href=https://www.behance.net/ class=bigsocial-link target=_blank><i
                                    class="fa fa-behance"></i></a></li>
                        </ul>
                        <p><a target="_blank" href="https://www.templatespoint.net/">Templates Point</a></p></div>
                    <div class=footer-appstore>
                        <figure><a href=#><img src="/static/images/appstore/apple.png" alt=image></a></figure>
                        <figure><a href=#><img src="/static/images/appstore/google.png" alt=image></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/static/js/vendor/vendor.js"></script>
<script src="/static/js/main.js"></script>


</body>

</html>