<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla de Posiciones</title>
    <link rel="stylesheet" type="text/css" href="/static/css/tablas.css" />
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Alineación vertical de los números de posición */
        td:first-child {
            vertical-align: middle;
        }

        /* Alineación horizontal de los números de posición */
        td:first-child {
            text-align: center;
        }
    </style>
</head>
<body>
<main class="table" id="posiciones_table">
    <section class="table__header">
        <h1>Tabla de Posiciones</h1>
        <!-- Barra de búsqueda -->
        <div class="input-group">
            <input type="search" placeholder="Buscar Equipos..." />
            <img src="/static/images/equipos/search.png" alt="" />
        </div>
    
        <div class="category-filter">
            <form id="category-form" action="{{ url_for('tabla_posiciones') }}" method="get">
                <label for="category-select">Seleccionar Categoría:</label>
                <select id="category-select" name="categoria">
                    <option value="all">Todas</option>
                    <option value="1">Juvenil</option>
                    <option value="2">Adulta</option>
                    <option value="3">Senior</option>
                    <option value="4">Super Senior</option>
                    <option value="5">Honor</option>
                </select>
                <input type="submit" style="display: none;"> 
            </form>
        </div>

        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Exportar Archivo"></label>
            <input type="checkbox" id="export-file" />
            <div class="export__file-options">
                <label>Exportar como &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="/static/images/equipos/pdf.png" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="/static/images/equipos/json.png" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="/static/images/equipos/csv.png" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="/static/images/equipos/excel.png" alt=""></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Club</th>
                    <th>PTS</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DIF</th>
                    <th>Últimos 5</th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in tabla_posiciones %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ equipo.Club }}</td>
                    <td>{{ equipo.PTS }}</td>
                    <td>{{ equipo.PJ }}</td>
                    <td>{{ equipo.PG }}</td>
                    <td>{{ equipo.PE }}</td>
                    <td>{{ equipo.PP }}</td>
                    <td>{{ equipo.GF }}</td>
                    <td>{{ equipo.GC }}</td>
                    <td>{{ equipo.DIF }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
            
            
            </tbody>
        </table>
    </section>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categoryForm = document.getElementById("category-form");
        const categorySelect = document.getElementById("category-select");

        // Agregar un evento al cambio de selección en el menú desplegable
        categorySelect.addEventListener("change", function () {
            // Enviar automáticamente el formulario cuando se selecciona una categoría
            categoryForm.submit();
        });
    });
</script>
<script src="/static/js/filtro.js"></script>
<script src="/static/js/tablas.js"></script>
</body>
</html>