<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>soccer club</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="shortcut icon" href=/static/css/favicon.ico>
    <link rel=stylesheet href=/static/css/vendor.css>
    <link rel=stylesheet type=text/css href=/static/css/layerslider.css>
    <link rel="stylesheet" type="text/css" href="/static/css/equipos.css" />
    <script src=/static/js/vendor/modernizr.js></script>
    <style>
        /* Estilo para el título "Galería de fotos" */
        h1.title {
            text-align: center;
            font-size: 2.5em;
            color: #333;
            margin: 20px 0;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
</head>
<body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>
    <header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="#">Registrar/logear</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=contenedor>
                <div class=row><h1 class=logo><a href=index-2.html><img src=/static/images/logo.png alt=image></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href="{{ url_for('home') }}">Inicio <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=# class=active>Noticias <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a>Galeria <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=gallerypage01.html>masonry</a></li>
                                                <li><a href=gallery02.html>gallery column two</a></li>
                                                <li><a href=gallery03.html>gallery column 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=#>Equipos <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=#>Posiciones <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a href=#>Estadisticas <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>error <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=400.html>400 page</a></li>
                                                <li><a href=401.html>401 page</a></li>
                                                <li><a href=403.html>403 page</a></li>
                                                <li><a href=404.html>404 page</a></li>
                                                <li><a href=500.html>500 page</a></li>
                                                <li><a href=503.html>503 page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social><a href=https://www.facebook.com/templatespoint.net class=facebook><i
                            class="fa fa-facebook"></i></a> <a href=https://twitter.com/itobuztech class=twitter><i
                            class="fa fa-twitter"></i></a> <a href=https://www.behance.net/ class=behance><i
                            class="fa fa-behance"></i></a></div>
                </div>
            </div>
        </div>
    </header>
    <div class=innerbannerwrap>
        <div class=innerbanner><h2 class=bannerHeadline>Canta <span>rrana</span></h2></div>
    </div>
    <section id="tranding">
        <h1 class="title">Galería de fotos</h1>
        <div class="galeria-fotos">
          <div class="swiper tranding-slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img1.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img2.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img3.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img4.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img5.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img6.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/static/images/El_Lucero/img7.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  
                </div>
              </div>
              <!-- Slide-end -->
            </div>
  
            <div class="tranding-slider-control">
              <div class="swiper-button-prev slider-arrow">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>
              <div class="swiper-button-next slider-arrow">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </div>
              <div class="swiper-pagination"></div>
            </div>
  
          </div>
        </div>
    </section>
    
      
</div>
<div class="fondo">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1></h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar..." />
                <img src="/static/images/equipos/search.png" alt="" />
            </div>
            <div class="category-filter">
                <form id="category-form" action="{{ url_for('obtener_equipo', id=equipo_id) }}" method="get">
                    <label for="category-select">Seleccionar Categoría:</label>
                    <select id="category-select" name="categoria">
                        <option value="all">Todas</option>
                        <option value="1">Juvenil</option>
                        <option value="2">Adulta</option>
                        <option value="3">Senior</option>
                        <option value="4">Super Senior</option>
                        <option value="5">Honor</option>
                    </select>
                </form>
            </div>
            
            
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="name">Nombre   <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Categoría <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Goles<img src="/static/images/equipos/balon.png" alt="Goles" style="width: 20px; height: 16px; padding-left: 4px;"> <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Tarjetas <img src="/static/images/equipos/tarjeta-amarilla.png" alt="Amarilla" style="width: 20px; height: 20px;"> <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Tarjetas <img src="/static/images/equipos/tarjeta-roja.png" alt="Roja" style="width: 20px; height: 20px;"> <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Asistencia <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in jugadores %}
                    <tr class="player-row">
                        <td><a href="{{ url_for('obtener_jugador', id=jugador['ID']) }}">{{ jugador['Nombre'] }} {{ jugador['Apellido_Paterno'] }} {{ jugador['Apellido_Materno'] }}</a></td>
                        <td>{{ jugador['Categoria'] }}</td>
                        <td>{{ jugador['Goles_Anotados'] }}</td>
                        <td>{{ jugador['Tarjetas_Amarillas'] }}</td>
                        <td>{{ jugador['Tarjetas_Rojas'] }}</td>
                        <td>{{ jugador['Asistencia'] }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
        </section>
    </main>
    
</div>
    <footer class=footer-type01>
    </footer>
    <script>
        document.getElementById('category-select').onchange = function() {
            document.getElementById('category-form').submit();
        };
    </script>

    <script src=/static/js/vendor/vendor.js></script>
    <script src=/static/js/main.js></script>
    <script src=/static/js/filtro.js></script>
    <script src=/static/js/equipo.js></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>