{% extends './base.html' %}

{% block title %}InicioSesión{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='../../static/css/InicioSesión.css') }}" />
{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="" />
</head>

<body>

    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>

            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Has olvidado tu contraseña?</div>
            <input type="submit" value="Iniciar">
            <div class="registrarse">
                Quiero hacer el <a href="#">registro</a>
            </div>
        </form>
    </div>

</body>
{% endblock %}