body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
}

.announcement-bar {
  background-color: #022855;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041e42;
  padding: 10px 6px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo img {
  height: 40px;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.dropbtn {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover,
.dropbtn:hover {
  background-color: #022855;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #022855;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #041e42;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-actions a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-actions a.highlight {
  background-color: #d9534f;
  border-radius: 5px;
  font-weight: 700;
}

.navbar-actions a i {
  margin-right: 5px;
}

.navbar-search {
  position: relative;
}

.navbar-search input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.navbar-search i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #041e42;
}

/* Responsive Design */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-toggle {
    display: block;
    margin-left: -40px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a,
  .dropbtn {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    display: block;
  }

  .navbar-actions {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar-actions a {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .navbar-search {
    width: 100%;
    padding: 10px 20px;
    display: none;
  }

  .navbar-search input {
    width: calc(100% - 40px);
  }

  .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
  }

  .dropdown-content a {
    padding-left: 40px;
  }

  .navbar-links.active,
  .navbar-actions.active,
  .navbar-search.active {
    display: flex;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-content a {
    text-align: left;
    padding-left: 40px;
  }

  .navbar-logo {
    position: absolute;
    right: 20px;
    top: 26px;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .navbar-logo img {
    height: 20px;
  }
}

@media (max-width: 480px) {
  .announcement-bar {
    font-size: 12px;
    padding: 5px 0;
  }

  .navbar-logo img {
    height: 40px;
  }

  .navbar-links a,
  .dropbtn,
  .navbar-actions a {
    font-size: 14px;
    padding: 8px;
  }

  .navbar-search input {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  padding: 20px;
  background-color: #00274d;
  color: #fff;
  text-align: center;
  width: 98%; /* Ocupa todo el ancho disponible */
}

/* Estilos específicos para el footer */
.footer-top,
.footer-contact,
.footer-subscribe,
.footer-social,
.footer-bottom {
  margin-bottom: 20px;
}

.footer-logo img {
  width: 100px;
}

.footer-lang a,
.footer-top-link a,
.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-lang a:hover,
.footer-top-link a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-subscribe input {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-subscribe button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-subscribe button:hover {
  background-color: #004494;
}

.footer-social {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ccc;
}

/* FIN CSS NAVBAR Y FOOTER */

/* Aquí va el CSS para ajustar las imágenes */
/* CSS para ajustar las imágenes */
img.table-img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto; /* Esto centrará horizontalmente las imágenes */
}

/* Ocultar imágenes en filas de datos */
tbody tr img {
  display: none;
}

.header img {
  max-width: 40px; /* Ajusta este valor según necesites */
  height: auto;
}

.content {
  margin-top: 6.5rem;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Estilos específicos para la impresión */
@media print {
  .table,
  .table__body {
    overflow: visible;
    height: auto !important;
    width: auto !important;
  }
}

/* Estilos del body */
body {
  min-height: 100vh;
  background: url(/static/images/equipos/fondo1001.jpg) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del contenedor principal */
main.table {
  width: 94vw;
  height: 90vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

/* Estilos del encabezado de la tabla */
.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del grupo de entrada de búsqueda */
.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

/* Estilos del grupo de entrada de búsqueda al pasar el cursor */
.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

/* Estilos de la imagen del grupo de entrada de búsqueda */
.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

/* Estilos del input de búsqueda */
.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

/* Estilos del cuerpo de la tabla */
.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
}

/* Estilos de las barras de desplazamiento */
.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Estilos del pulgar de la barra de desplazamiento */
.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

/* Estilos del pulgar de la barra de desplazamiento al pasar el cursor */
.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* CSS para ajustar las imágenes en las celdas */
table {
  border-collapse: collapse; /* Asegura que no haya espacios entre las celdas */
  width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
}

td img {
  max-width: 30px; /* Ajusta el ancho máximo de las imágenes */
  height: auto; /* Ajusta la altura automáticamente */
  margin-right: 5px; /* Espacio a la derecha de las imágenes */
}

/* Estilos generales de las celdas */
table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center; /* Texto centrado en todas las celdas */
}

/* Estilos del encabezado de la tabla */
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

/* Estilos específicos para el encabezado "Nombre" */
th:nth-child(1) {
  text-align: left; /* Alinear contenido a la izquierda en la primera columna */
}

/* Estilos de las filas pares del cuerpo de la tabla */
tbody tr:nth-child(even) {
  background-color: #0000000b;
}

/* Transiciones de las filas */
tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

/* Estilos de las filas ocultas */
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

/* Estilos de las filas al pasar el cursor */
tbody tr:hover {
  background-color: #fff6 !important;
}

/* Estilos de las celdas, párrafos e imágenes al pasar el cursor */
tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

/* Estilos de las celdas ocultas */
tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

/* Estilos de las imágenes de las celdas ocultas */
tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

/* Estilos de los estados */
.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}

/* Estilos del estado entregado */
.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

/* Estilos del estado cancelado */
.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

/* Estilos del estado pendiente */
.status.pending {
  background-color: #ebc474;
}

/* Estilos del estado enviado */
.status.shipped {
  background-color: #6fcaea;
}

/* Estilos para dispositivos con ancho de pantalla máximo de 1000px */
@media (max-width: 1000px) {
  /* Estilos para las celdas que no son la primera de su tipo */
  td:not(:first-of-type) {
    min-width: 8.8rem;
  }
}

/* Estilos específicos para la vista móvil */
@media (max-width: 768px) {
  /* Ajuste del ancho de las columnas del encabezado */
  th {
    padding: 6px; /* Ajuste de padding para encabezado */
    font-size: 14px; /* Tamaño de letra para encabezado */
  }

  /* Ancho personalizado para cada columna del encabezado */
  th:nth-child(1),
  th:nth-child(2),
  th:nth-child(3) {
    width: 40%;
  }

  /* Alinear imagen a la izquierda en las celdas */
  td img.team-logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    float: left; /* Alinear imagen a la izquierda */
  }

  /* Estilos para la vista móvil */
  .table__header h1 {
    font-size: 18px;
  }

  /* Estilos para el tamaño del logo en las celdas */
  .team-logo {
    margin-right: 8px;
  }

  /* Estilos de las celdas con el nombre (primera columna) */
  td.sticky-column {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinear contenido a la izquierda */
    text-align: left;
    padding: 8px;
    white-space: nowrap; /* Evitar el salto de línea */
    overflow: hidden; /* Ocultar el exceso de contenido */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos si el contenido es demasiado largo */
  }

  /* Ocultar la columna de ciudad */
  th.city {
    display: none;
    padding-left: 5px;
  }

  /* Ajuste de la tabla para dispositivos móviles */
  .table {
    overflow-x: auto;
    width: 100%; /* Ancho de la tabla ajustado al 100% */
    margin: 0 auto; /* Centrar la tabla */
  }

  /* Ajuste del cuerpo de la tabla para dispositivos móviles */
  .table__body {
    max-height: calc(98% - 1.6rem);
  }
}

/* Estilos de la flecha en el encabezado de la tabla */
thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  text-align: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

/* Estilos de la flecha en el encabezado de la tabla al pasar el cursor */
thead th:hover span.icon-arrow {
  border: 1.4px solid #6c00bd;
}

/* Estilos del encabezado de la tabla al pasar el cursor */
thead th:hover {
  color: #6c00bd;
}

/* Estilos de la flecha activa en el encabezado de la tabla */
thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}

/* Estilos de la flecha ascendente en el encabezado de la tabla */
thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

/* Estilos del encabezado de la tabla activo y celdas activas en el cuerpo */
thead th.active,
tbody td.active {
  color: #6c00bd;
}

/* Estilos del botón de exportación de archivo */
.export__file {
  position: relative;
}

/* Estilos del botón de exportación de archivo */
.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(/static/images/equipos/export.png) center / 80%
    no-repeat;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

/* Estilos del botón de exportación de archivo al pasar el cursor */
.export__file .export__file-btn:hover {
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

/* Estilos del input oculto de exportación de archivo */
.export__file input {
  display: none;
}

/* Estilos de las opciones de exportación de archivo */
.export__file .export__file-options {
  position: absolute;
  right: 0;
  width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;
  box-shadow: 0 0.2rem 0.5rem #0004;
  transition: 0.2s;
}

/* Estilos de las opciones de exportación de archivo al estar seleccionado el input */
.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

/* Estilos de las etiquetas de las opciones de exportación de archivo */
.export__file .export__file-options label {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s ease-in-out;
}

/* Estilos de la primera etiqueta de las opciones de exportación de archivo */
.export__file .export__file-options label:first-of-type {
  padding: 1rem 0;
  background-color: #86e49d !important;
}

/* Estilos de las etiquetas de las opciones de exportación de archivo al pasar el cursor */
.export__file .export__file-options label:hover {
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

/* Estilos de las imágenes de las opciones de exportación de archivo */
.export__file .export__file-options img {
  width: 2rem;
  height: auto;
}
