/* Inicio css navbar */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
}

.announcement-bar {
  background-color: #022855;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041e42;
  padding: 10px 56px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo img {
  height: 40px;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.dropbtn {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover,
.dropbtn:hover {
  background-color: #022855;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #022855;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #041e42;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-actions a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-actions a.highlight {
  background-color: #d9534f;
  border-radius: 5px;
  font-weight: 700;
}

.navbar-actions a i {
  margin-right: 5px;
}

.navbar-search {
  position: relative;
}

.navbar-search input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.navbar-search i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #041e42;
}

/* Responsive Design */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-toggle {
    display: block;
    margin-left: -40px; /* Ajusta el margen izquierdo según sea necesario */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a,
  .dropbtn {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    display: block;
  }

  .navbar-actions {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar-actions a {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .navbar-search {
    width: 100%;
    padding: 10px 20px;
    display: none;
  }

  .navbar-search input {
    width: calc(100% - 40px);
  }

  .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
  }

  .dropdown-content a {
    padding-left: 40px; /* Ajusta el padding según sea necesario */
  }

  .navbar-links.active,
  .navbar-actions.active,
  .navbar-search.active {
    display: flex;
  }

  /* Añade este ajuste para asegurarte de que los elementos de dropdown están alineados */
  .dropdown {
    width: 100%;
  }

  .dropdown-content a {
    text-align: left;
    padding-left: 40px;
  }

  .navbar-logo {
    position: absolute;
    right: 20px;
    top: 26px;
    transform: translateY(-50%);
    z-index: 1000; /* Asegura que el logo esté por encima del menú desplegable */
  }

  .navbar-logo img {
    height: 20px;
  }
}

@media (max-width: 480px) {
  .announcement-bar {
    font-size: 12px;
    padding: 5px 0;
  }

  .navbar-logo img {
    height: 49px;
  }

  .navbar-links a,
  .dropbtn,
  .navbar-actions a {
    font-size: 14px;
    padding: 8px;
  }

  .navbar-search input {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenido {
  flex: 1; /* Ocupa todo el espacio restante */
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
/* Fin css navbar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.contain {
  width: 85%;
  margin: auto;
  overflow: hidden;
}
.header-section {
  background: #333;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
  margin-top: calc(
    var(--header-height) + 20px
  ); /* Ajusta el valor según sea necesario */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-content h1 {
  margin-bottom: 10px;
}

.header-content .filters {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-content select,
.header-content button {
  padding: 5px;
  font-size: 16px;
}

.header-content button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header-content button:hover {
  background-color: #cc0000;
}

.calendar-section {
  background-color: #fff;
  padding: 20px 0;
}

.calendar-month {
  margin-bottom: 20px;
}

.calendar-month h3 {
  color: #ff3333;
  margin-bottom: 10px;
}

.match-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.match-date {
  font-weight: bold;
  flex: 1;
}

.match-details {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.match-teams {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 3;
}

.team {
  font-weight: bold;
}

.vs {
  font-weight: normal;
  color: #ff3333;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .filters {
    flex-direction: column;
  }

  .match-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .match-teams {
    flex-direction: column;
    align-items: flex-start;
  }
}

/****** footer *****/

.footer {
  padding: 20px;
  background-color: #00274d;
  color: #fff;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilos específicos para el footer */
.footer-top,
.footer-contact,
.footer-subscribe,
.footer-social,
.footer-bottom {
  margin-bottom: 20px;
}

.footer-logo img {
  width: 100px;
}

.footer-lang a,
.footer-top-link a,
.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-lang a:hover,
.footer-top-link a:hover,
.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-subscribe input {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-subscribe button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-subscribe button:hover {
  background-color: #004494;
}

.footer-social {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ccc;
}
