/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(0, 0%, 2%);
  --body-color: hsl(220, 100%, 99%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


img .nav__logo{
  max-width: 16%;
  height: auto;
  display: block;
  margin-inline: auto;max-width: 16%;
  height: auto;
  display: block;
  margin-inline: auto;
}

.header img {
  max-width: 40px; /* Ajusta este valor según necesites */
  height: auto;
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(
    --body-color
  ) !important; /* Asegúrate de que esta propiedad esté presente */
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content,
.dropdown__group,
.dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: var(--title-color);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  .nav li {
    display: flex;
  }

  .nav__link {
    padding: 0;
  }

  .nav__link:hover {
    background-color: initial;
  }

  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }

  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child,
  .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__link:hover {
    color: var(--first-color);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  text-align: left;
 
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/* FINAL CSS HEADER */








/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilos específicos para la impresión */
@media print {
    .table,
    .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
} 

/* Estilos del body */
body {
    min-height: 100vh;
    background: url(/static/images/equipos/fondo1003.jpg) center / cover;    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del contenedor principal */
main.table {
    width: 94vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin-top: 80px;
}

/* Estilos del encabezado de la tabla */
.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos del grupo de entrada de búsqueda */
.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

/* Estilos del grupo de entrada de búsqueda al pasar el cursor */
.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

/* Estilos de la imagen del grupo de entrada de búsqueda */
.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

/* Estilos del input de búsqueda */
.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

/* Estilos del cuerpo de la tabla */
.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

/* Estilos de las barras de desplazamiento */
.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Estilos del pulgar de la barra de desplazamiento */
.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

/* Estilos del pulgar de la barra de desplazamiento al pasar el cursor */
.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Estilos generales de la tabla */
table {
    width: 100%;
}

/* Estilos de las imágenes en las celdas */
td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
    align-items: left;
}

/* Estilos generales de las celdas */
table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
    align-items: left;
}

/* Estilos del encabezado de la tabla */
thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}

/* Estilos de las filas pares del cuerpo de la tabla */
tbody tr:nth-child(even) {
    background-color: #0000000b;
    text-align: left;
    
}

/* Transiciones de las filas */
tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    text-align: left;
    align-items: left;
}

/* Estilos de las filas ocultas */
tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
    text-align: left;
    align-items: left;
}

/* Estilos de las filas al pasar el cursor */
tbody tr:hover {
    background-color: #fff6 !important;
    text-align: left;
    align-items: left;
}

/* Estilos de las celdas, párrafos e imágenes al pasar el cursor */
tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
    text-align: left;
    align-items: left;
}

/* Estilos de las celdas ocultas */
tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
    text-align: left;
    align-items: left;
}

/* Estilos de las imágenes de las celdas ocultas 
tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
    text-align: left;
    align-items: left;
}*/

/* Estilos de los estados */
.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

/* Estilos del estado entregado */
.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

/* Estilos del estado cancelado */
.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

/* Estilos del estado pendiente */
.status.pending {
    background-color: #ebc474;
}

/* Estilos del estado enviado */
.status.shipped {
    background-color: #6fcaea;
}

/* Estilos para dispositivos con ancho de pantalla máximo de 1000px */
@media (max-width: 1000px) {
    /* Estilos para las celdas que no son la primera de su tipo */
    td:not(:first-of-type) {
        min-width: 8.8rem;
        align-items: left;
    }
}

/* Estilos específicos para la vista móvil */
@media (max-width: 768px) {
    /* Ajuste del ancho de las columnas del encabezado */
    th {
        padding: 6px; /* Ajuste de padding para encabezado */
        font-size: 14px; /* Tamaño de letra para encabezado */
        text-align: left;
    }
    
    /* Ajuste del ancho de las columnas del encabezado */
    th:nth-child(1),
    th:nth-child(2),
    th:nth-child(3) {
        width: 40%; /* Ancho personalizado para cada columna */
    }

    /* Estilos para el tamaño del logo en las celdas */
    td img.team-logo {
        width: 30px; /* Ancho del logo */
        height: 30px; /* Altura del logo */
        margin-right: 8px;
        align-items: left;
    }

    /* Estilos para la vista móvil */
    .table__header h1 {
        font-size: 18px;
    }

    .input-group input {
        width: calc(100% - 40px);
    }

    .input-group img {
        width: 20px;
        height: 20px;
    }

    .export__file-options label {
        font-size: 12px;
    }

    .export__file-options img {
        width: 16px;
        height: 16px;
    }

    th, td {
        padding: 8px; /* Ajuste de padding para celdas en móvil */
        font-size: 14px; /* Tamaño de letra para celdas */
        white-space: nowrap; /* Evitar el salto de línea */
        overflow: hidden; /* Ocultar el exceso de contenido */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos si el contenido es demasiado largo */
        text-align: left;
    }

    td.sticky-column {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: flex-start; /* Alinear contenido a la izquierda */
        text-align: left;
        padding: 8px;
        white-space: nowrap; /* Evitar el salto de línea */
        overflow: hidden; /* Ocultar el exceso de contenido */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos si el contenido es demasiado largo */
    }

    .team-logo {
        margin-right: 8px;
        text-align: left;
    }

    th.city {
        display: none;
        padding-left: 5px;
        text-align: left;
    }

    .table {
        overflow-x: auto;
        width: 100%; /* Ancho de la tabla ajustado al 100% */
        margin: 0 auto; /* Centrar la tabla */
    }

    .table__body {
        max-height: calc(98% - 1.6rem);
    }
}


    

/* Estilos de la flecha en el encabezado de la tabla */
thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

/* Estilos de la flecha en el encabezado de la tabla al pasar el cursor */
thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

/* Estilos del encabezado de la tabla al pasar el cursor */
thead th:hover {
    color: #6c00bd;
}

/* Estilos de la flecha activa en el encabezado de la tabla */
thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

/* Estilos de la flecha ascendente en el encabezado de la tabla */
thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

/* Estilos del encabezado de la tabla activo y celdas activas en el cuerpo */
thead th.active,
tbody td.active {
    color: #6c00bd;
    align-items: left;
    text-align: left;
}

/* Estilos del botón de exportación de archivo */
.export__file {
    position: relative;
}

/* Estilos del botón de exportación de archivo */
.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(/static/images/equipos/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

/* Estilos del botón de exportación de archivo al pasar el cursor */
.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

/* Estilos del input oculto de exportación de archivo */
.export__file input {
    display: none;
}

/* Estilos de las opciones de exportación de archivo */
.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}

/* Estilos de las opciones de exportación de archivo al estar seleccionado el input */
.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

/* Estilos de las etiquetas de las opciones de exportación de archivo */
.export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

/* Estilos de la primera etiqueta de las opciones de exportación de archivo */
.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

/* Estilos de las etiquetas de las opciones de exportación de archivo al pasar el cursor */
.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

/* Estilos de las imágenes de las opciones de exportación de archivo */
.export__file .export__file-options img {
    width: 2rem;
    height: auto;
}

/* Ajuste para columnas más estrechas */
td.city, th.city {
    width: 120px;
}

td.division, th.division {
    width: 120px;
}

/* Ajuste para la columna de nombre siempre visible 
td.sticky-column {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #d5d1defe;
    z-index: 1;
}*/
